.card-container {
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-width: 280px;
  margin: 0px auto;
  gap: 60px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
    margin: 0px;
    max-width: 100%;
  }

  @media (min-width: 907px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  @media (min-width: 1258px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  @media (min-width: 1577px) {
    gap: 90px;
  }

  @media (min-width: 2000px) {
    gap: 90px;
  }
}

.card {
  border-radius: 10px;

  img {
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0px 0px;
    object-fit: fill;

    @media (min-width: 698px) {
      height: 220px;
    }

    @media (min-width: 2300px) {
      height: 310px;
    }
  }

  & > *:not(img) {
    padding: 0px 30px;
    margin-bottom: 40px;
  }

  h2 {
    margin: 20px 0px;
    font-weight: 800;
  }

  &-facts {
    p {
      margin: 5px 0px;
    }
  }
}
