.cta {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 1rem;
  font-weight: 600;
}

article {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  margin-top: 70px;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  flex-direction: column;
  font-weight: 300;

  span {
    font-weight: 500;
    margin-right: 5px;
  }

  @media (min-width: 857px) {
    flex-direction: row;
  }

  & > * {
    flex-basis: 50%;
  }

  img {
    width: 100%;
    height: fit-content;

    @media (min-width: 857px) {
      width: 110px;
    }
  }

  h2 {
    font-size: clamp(2rem, 2.5vw, 2.8rem);
    margin: 40px 0px 10px 0px;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-first-block {
    display: flex;
    flex-direction: column;
    @media (min-width: 1536px) {
      gap: 80px;
      flex-direction: row;
    }
  }

  &-second-block {
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    flex-direction: column;

    @media (min-width: 1273px) {
      flex-direction: row;
      margin-top: 80px;
    }

    & p:first-of-type {
      margin-right: 10px;
    }

    &-borders {
      display: flex;
      gap: 10px;
      width: 100%;

      flex-wrap: wrap;
    }
  }

  & .border-countries {
    flex-basis: 30%;
    max-width: 130px;
    border-radius: 5px;
    display: block;
    text-align: center;
    padding: 5px 0px;
    margin-right: 0;
  }
}
