@import "./variables";

body {
  box-sizing: border-box;
  font-family: $fontFamily;
  margin: 0px;
}

.darkMode {
  background-color: var(--dark-bg);
}

.container {
  margin: 0px 5vw;
}

main {
  padding-bottom: 100px;
}

a {
  text-decoration: none;
}

span {
  font-weight: 800;
}

button,
h1,
input,
nav {
  font-family: $fontFamily;
}

body {
  background-color: var(--bg);
}

body,
button,
h1,
input,
nav,
.region-list,
.card,
.cta,
article {
  color: var(--text);
}

.searchbar,
nav,
.region-btn,
ul,
.card,
.cta {
  background-color: var(--elements);
}

.searchbar,
nav,
.region-btn,
.card,
.cta,
article img {
  box-shadow: var(--shadows);
}
