@import "./variables";

body {
  box-sizing: border-box;
  font-family: $fontFamily;
  margin: 0px;
}

.darkMode {
  background-color: var(--dark-bg);
}

a {
  text-decoration: none;
}

button,
h1,
input,
nav {
  font-family: $fontFamily;
}

body {
  background-color: var(--bg);
}

body,
button,
h1,
input,
nav,
.region-list,
.card {
  color: var(--text);
}

.searchbar,
nav,
.region-btn,
ul,
.card {
  background-color: var(--elements);
}

.searchbar,
nav,
.region-btn,
.card {
  box-shadow: var(--shadows);
}
