body {
  box-sizing: border-box;
  font-family: $fontFamily;
  margin: 0px;
}

a {
  text-decoration: none;
}

button,
h1,
input,
nav {
  font-family: $fontFamily;
}

body {
  background-color: $lightModeBackground;

  &.darkMode {
    background-color: $darkModeBackground;
  }
}

body,
button,
h1,
input,
nav,
.region-list,
.card {
  color: $lightModeText;

  &.darkMode {
    color: $darkModeText;
  }
}

.searchbar,
nav,
.region-btn,
ul,
.card {
  background-color: $lightModeElements;

  &.darkMode {
    background-color: $darkModeElements;
  }
}

.searchbar,
nav,
.region-btn,
.card {
  box-shadow: $lightModeBackgroundShadow;

  &.darkMode {
    box-shadow: $darkModeBackgroundShadow;
  }
}
