// dark mode colors
$darkModeText: hsl(0, 0%, 100%);
$darkModeBackground: hsl(207, 26%, 17%);
$darkModeElements: hsl(209, 23%, 22%);
$darkModeOutline: hsl(210, 23%, 18%);

// light mode colors
$lightModeInput: hsl(0, 0%, 52%);
$lightModeText: hsl(200, 15%, 8%);
$lightModeBackground: hsl(0, 0%, 98%);
$lightModeElements: hsl(0, 0%, 100%);

$fontFamily: "Nunito Sans", sans-serif;

$lightModeBackgroundShadow: 0.5px 0.5px 0.8px hsl(0, 0%, 98% / 1.1), 1.7px 1.7px 2.8px -0.8px hsl(0, 0%, 98% / 1.1), 4.2px 4.3px 6.9px -1.5px hsl(0, 0%, 98% / 1.1), 10.2px 10.4px 16.8px -2.3px hsl(0, 0%, 98% / 1.1);

$darkModeBackgroundShadow: 0.5px 0.5px 0.8px hsl(207, 26%, 17% / 1.5), 1.7px 1.7px 2.8px -0.8px hsl(207, 26%, 17% / 1.5), 4.2px 4.3px 6.9px -1.5px hsl(207, 26%, 17% / 1.5), 10.2px 10.4px 16.8px -2.3px hsl(207, 26%, 17% / 1.5);
