$darkModeElements: hsl(209, 23%, 22%);
$darkModeBackground: hsl(207, 26%, 17%);
$darkModeText: hsl(0, 0%, 100%);

$lightModeInput: hsl(0, 0%, 52%);

$lightModeText: hsl(200, 15%, 8%);
$lightModeBackground: hsl(0, 0%, 98%);
$lightModeElements: hsl(0, 0%, 100%);

$fontFamily: "Nunito Sans", sans-serif;

$lightModeBackgroundShadow: 0.5px 0.5px 0.8px #f2f2f2, 1.6px 1.7px 2.6px -0.8px #f2f2f2, 4px 4.2px 6.5px -1.7px #f2f2f2, 9.7px 10.1px 15.8px -2.5px #f2f2f2;
